.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.mainText {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.text {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

/* home */
.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 80px;
  width: 600px;
  height: 800px;
  overflow: hidden;
}
.homeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* photo */
.photoContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.webcamButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  background-color: rgb(246, 44, 44);
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  border: none;
}
.webcamButton img {
  width: 45px;
  height: 45px;
}

.capturedContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.capturedText {
  font-size: 25px;
  font-weight: bold;
  padding-top: 1rem;
}