.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.mainText {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 80px;
  width: 600px;
  height: 800px;
  overflow: hidden;
}
.homeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}