.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.text {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
}

/* home */
.homeImage {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 80px;
  width: 600px;
  height: 800px;
  overflow: hidden;
}
.homeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* photo */
.photoContainer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.webcamButton {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;
  background-color: rgb(246, 44, 44);
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  border: none;
}
.webcamButton img {
  width: 45px;
  height: 45px;
}

.capturedContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.capturedText {
  font-size: 25px;
  font-weight: bold;
  padding-top: 1rem;
}

/* tree */
.treeContainer {
  text-align: center;
  margin-top: 40px;
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.decoration {
  font-size: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.selected {
  border: 2px solid green;
}

.treeWrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.treeStage {
  position: relative;
  width: 600px;
  height: 500px;
}

.treeImage {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.lines {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.lines line {
  stroke: rgba(0, 0, 0, 0.4);
  stroke-width: 2;
  stroke-linecap: round;
}

.node {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  border: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  cursor: pointer;
}