.header {
  background: aliceblue;
  padding-bottom: 30px;
  border-bottom: 0.5px solid #cccccc;
}

.mainText {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-size: 23px;
  font-weight: 500;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}
.title:hover {
  background-color: rgba(47, 123, 255, 0.1);
}

.active {
  background-color: rgba(80, 147, 219, 0.2);
}